*{
margin:0;
padding:0;
}

input{
    width:80%;
    margin-bottom:10px;
}


button{
  width:80%;
  margin-bottom:10px;
}
.main-container{
    width:90%;
    margin:auto;

}

.container{
    display:flex;
    flex-direction:column;
}